
@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');

.font{
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.4rem;
    background-color: rgba(0,0,0,.3);
    margin: 1px;
}

.gridListContainer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    border-color:  rgba(0,0,0,.5);
    grid-column-gap: 2px;

}
.b li {
    background: #61dafb linear-gradient(to bottom, rgba(0, 0, 0, .1), rgba(255, 255, 255, .3));
    list-style: none;
    color: gold;
    text-shadow: 2px 2px black;
}
.b li:nth-child(odd) {
    color:gold;
    background: #ff005b linear-gradient(to bottom, rgba(0, 0, 0, .1), rgba(255, 255, 255, .3));
    list-style: none;
    text-shadow: 2px 2px black;
}
